.card-body img{
    height:100px;
    width:auto;
    margin-bottom:15px;
}
.active {
    background-color: rgb(181, 173, 173);   /*募集中以外の個体をグレー表示にする*/
}
.parent {
    text-align: left;         /* 子要素を左揃えにする */
    margin-top: 20px;
}
.inline-block-selectSize {
    display: inline-block;      /* インラインブロック要素にする */
    width:60%;
    padding-right:20px;
}
.login-top-image{
    text-align: center;
}
.login-top-image img{ 
    height:100px;
    width:auto;
}
.login-footer-image{
    text-align: center; 
}
.login-footer-image img{
    height: 50%;
}   
